@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
body {
    height: 100%;
    margin: 0;
    background-color: #201E20;
}


/*POLICES -------------------------------------*/

h1 {
    font-family: Charm;
    font-size: 35px;
    color: #E0A96D;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: Charm;
    font-size: 35px;
    color: #E0A96D;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-family: Montserrat;
    color: #DDC3A5;
    font-weight: 500;
    margin: 0;
}

p {
    font-family: Montserrat;
    color: #DDC3A5;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER*/

.include {
    /*importation d'un bout d'html*/
    border: none;
    width: 100%;
}

.fix {
    position: fixed;
    z-index: 5;
}

.ft {
    background-color: #0d0d0d00;
    background: none;
    margin: 0;
    padding: 0;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER FIN*/


/*CASES -----------------*/

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.space {
    width: 100%;
    height: 100px;
}

.column_space {
    height: 100%;
    width: 50px;
}

.btn_savoirplus {
    padding: 10px;
    border-color: #E0A96D;
    border: 3px;
    text-decoration: none;
    color: #E0A96D;
    font-family: Montserrat;
    margin: 0;
    width: auto;
}