    @import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        height: 100%;
        margin: 0;
        background-color: #201E20;
    }
    /*POLICES -------------------------------------*/
    
    h1 {
        font-family: Charm;
        font-size: 40px;
        color: #E0A96D;
        font-weight: 400;
        margin: 0;
    }
    
    h2 {
        font-family: Charm;
        font-size: 40px;
        color: #E0A96D;
        font-weight: 400;
        margin: 0;
    }
    
    h3 {
        font-family: Montserrat;
        color: #DDC3A5;
        font-weight: 500;
        margin: 0;
        font-size: 25px;
    }
    
    p {
        font-family: Montserrat;
        color: #DDC3A5;
        font-weight: 400;
        margin: 0;
        font-size: 20px;
    }
    
    .h2_index {
        margin-left: 18.5%;
    }
    /*IMPORTATION HTML DANS UN AUTRE FICHIER*/
    
    .include {
        /*importation d'un bout d'html*/
        border: none;
        width: 100%;
    }
    
    .fix {
        position: fixed;
        z-index: 5;
    }
    
    .ft {
        background-color: #0d0d0d00;
        background: none;
        margin: 0;
        padding: 0;
    }
    
    .include_footer {
        height: 400px;
        position: relative;
        margin-top: 50px;
    }
    /*IMPORTATION HTML DANS UN AUTRE FICHIER FIN*/
    /*CASES -----------------*/
    
    .row {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
    /*TAILLE COLONNE*/
    
    .half {
        width: 50%;
    }
    
    .tier {
        width: 33%;
    }
    
    .quarante {
        width: 40%;
    }
    
    .vingt {
        width: 20%;
    }
    /*ESPACES -----------*/
    
    .space {
        width: 100%;
        height: 100px;
    }
    
    .column_space {
        height: 100%;
        width: 50px;
    }
    /*SIDE -----------*/
    
    .right {
        display: flex;
        justify-self: flex-end;
    }
    
    .btn_savoirplus {
        padding: 17px 35px;
        border-color: #E0A96D;
        border: solid 1px;
        text-decoration: none;
        color: #E0A96D;
        font-family: Montserrat;
        margin: 0;
        background-color: transparent;
        transition: 0.3s;
        text-align: center;
        width: fit-content;
        font-size: 20px;
    }
    
    .btn_savoirplus:hover {
        padding: 10px 28px;
        margin-top: 7px;
        margin-left: 7px;
        background-color: #E0A96D;
        color: #201E20;
    }