.footer {
    width: 100%;
    height: 300px;
}

.texte_milieu {
    text-align: center;
}

.texte_droite {
    text-align: right;
}

footer {
    background-color: #201E20;
}

.footer_line {
    width: 100%;
}