nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    position: absolute;
}

.header {
    height: 80px;
    background-color: transparent;
}

.site_name {
    align-self: center;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #DDC3A5;
    font-family: Charm;
    font-size: 25px;
}

.burger {
    margin-left: 30px;
}